@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Web site for Hotel</h1>
    <div>
     Good day! in this web site you can book the number in online regime <br/>
        @Html.ActionLink("Refer to the registration form", "Registration", "Home");
    </div>
</body>
</html>
